{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<div class="jumbotron">
    <h1>Inloggad!</h1>
    <p>Vill du uppdatera din profil klicka här: <a href="edit_profile">ändra</a> </p>
        Id: {{ user.id }} <br>
        Namn: {{ user.name }}<br>
        E-post: {{ user.email }} <br>
        Längd: {{ user.length }} <br>
        
        <form action="" method="POST">
            <input type="submit" value="BMI">
       </form>

</div>
    
{% endblock %}    
<!--  -->